<div class="container d-flex justify-content-center align-items-center vh-100">
  <div class="card shadow-lg p-4" style="width: 35rem; border-radius: 20px; background: #fff;">
    <div class="card-body">
      <!-- Header -->
      <div class="text-center">
        <h3 class="card-title mb-3 text-gradient">Create Your Account</h3>
        <p class="text-muted">Join us and manage your tasks effectively!</p>
      </div>

      <!-- Form -->
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <!-- Username -->
        <div class="form-floating mb-3">
          <input
          formControlName= "username"
            type="text"
            id="username"
            class="form-control"
            placeholder="Username"
            required />
          <label for="username"><i class="fas fa-user me-2"></i> Username</label>
          <div class="text-danger" *ngIf="form.controls.username.hasError('required') && form.controls.username?.touched">
            Please enter your username
          </div>
        </div>

        <!-- Email -->
        <div class="form-floating mb-3">
          <input
            formControlName="email"
            type="email"
            id="email"
            class="form-control"
            placeholder="Email"
            required />
          <label for="email"><i class="fas fa-envelope me-2"></i> Email</label>
          <div class="text-danger" *ngIf="hasDisplayError('email')">
            <div *ngIf="form.controls.email.hasError('required')">
              Please enter your email
            </div>
            <div *ngIf="form.controls.email.hasError('email')">
              Please enter a valid email address
            </div>
          </div>
        </div>
        <!-- SDT -->
        <div class="form-floating mb-3">
          <input
            formControlName="sdt"
            type="text"
            id="sdt"
            class="form-control"
            placeholder="Phone Number"
            required />
          <label for="sdt"><i class="fas fa-envelope me-2"></i> Phone Number</label>
          <div class="text-danger" *ngIf="hasDisplayError('sdt')">
            <div *ngIf="form.controls.sdt.hasError('required')">
              Please enter your phone number
            </div>
            <div *ngIf="form.controls.sdt.hasError('pattern')">
              Phone number must be 10 digits and start with 0.
            </div>
          </div>
        </div>

        <!-- Password -->
        <div class="form-floating mb-3">
          <input
            formControlName= "password"
            type="password"
            id="password"
            class="form-control"
            placeholder="Password"
            required />
          <label for="password"><i class="fas fa-lock me-2"></i> Password</label>
          <div class="text-danger" *ngIf="hasDisplayError('password')">
           <ng-container [ngSwitch]="form.controls.password.errors | firstKey">
              <div *ngSwitchCase="'required'">
                Please enter your password
              </div>
              <div *ngSwitchCase="'minlength'">
                At least 6 character(s) required
              </div>
              <div *ngSwitchCase="'pattern'">
                One or more special character(s)
              </div>
           </ng-container>
          </div>
        </div>

        <!-- Confirm Password -->
        <div class="form-floating mb-4">
          <input
          formControlName= "confirmPassword"
            type="password"
            id="repassword"
            class="form-control"
            placeholder="Confirm Password"
            required />
          <label for="repassword"><i class="fas fa-lock me-2"></i> Confirm Password</label>
          <div class="text-danger" *ngIf="hasDisplayError('confirmPassword') && form.controls.confirmPassword.hasError('passwordMismatch')">
            Password doesn't match.
          </div>
        </div>

        <!-- Submit Button -->
        <button type="submit" class="btn btn-gradient btn-lg w-100 text-light" [disabled]="form.invalid">Sign Up</button>
      </form>

      <!-- Login Link -->
      <div class="text-center mt-3">
        <p class="text-muted">Already have an account?
          <a routerLink="/login" class="text-gradient text-decoration-none fw-bold">Log In</a>
        </p>
      </div>
    </div>
  </div>
</div>
