<div class="sidebar" [ngClass]="{ 'showSidebar': isSidebarVisible, 'hideSidebar': !isSidebarVisible }" [@fadeInOut]>
  <ul>
    <li>
      <a routerLink="/main/home" routerLinkActive="active">
        <span class="menu-icon material-icons">home</span>
        <span class="menu-text">Home</span>
      </a>
    </li>
    <li>
      <a routerLink="/main/tasks" routerLinkActive="active">
        <span class="menu-icon material-icons">task_alt</span>
        <span class="menu-text">Add Tasks</span>
      </a>
    </li>
    <li>
      <a routerLink="/main/meetings" routerLinkActive="active">
        <span class="menu-icon material-icons">group</span>
        <span class="menu-text">Add Meetings</span>
      </a>
    </li>
    <li>
      <a routerLink="/main/notes" routerLinkActive="active">
        <span class="menu-icon material-icons">notes</span>
        <span class="menu-text">Add Notes</span>
      </a>
    </li>
    <li>
      <a routerLink="/main/schedule" routerLinkActive="active">
        <span class="menu-icon material-icons">event</span>
        <span class="menu-text">Schedule</span>
      </a>
    </li>
    <li>
      <a routerLink="/main/settings" routerLinkActive="active">
        <span class="menu-icon material-icons">settings</span>
        <span class="menu-text">Setting</span>
      </a>
    </li>
  </ul>
</div>
