<div class="container mt-4">
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h2 class="text-center text-primary">📌 {{'listTask' | translate}}</h2>
    <div class="btn-group">
      <button class="btn btn-outline-primary" (click)="exportToPDF()" [disabled]="tasks.length === 0">
        <i class="fas fa-file-pdf"></i> {{'exportPDF' | translate}}
      </button>
      <button class="btn btn-outline-success" (click)="exportToExcel()" [disabled]="tasks.length === 0">
        <i class="fas fa-file-excel"></i> {{'exportExcel' | translate}}
      </button>
      <button class="btn btn-outline-secondary" (click)="printTasks()" [disabled]="tasks.length === 0">
        <i class="fas fa-print"></i> {{'print' | translate}}
      </button>
    </div>
  </div>

  <div id="taskList" class="print-section">
    <div *ngIf="tasks.length === 0" class="alert alert-warning text-center">
      {{'noTask' | translate}}
    </div>

    <div class="row">
      <div class="col-md-4" *ngFor="let task of tasks">
        <div class="card shadow-lg border-0 mb-4">
          <div class="card-header text-white text-uppercase fw-bold text-center" [ngClass]="{'bg-success': task.status === 'Completed',
                           'bg-warning': task.status === 'InProgress',
                           'bg-danger': task.status === 'Pending',
                           'bg-secondary': task.status === 'Cancelled'}">
            {{ task.title }}
          </div>

          <div class="card-body">
            <p class="card-text"><strong>📌 {{'description' | translate}}:</strong> {{ task.description }}</p>
            <p class="card-text"><strong>📅 {{'start' | translate}}:</strong> {{ formatVietnamTime(task.startDateTask)
              }}
            </p>
            <p class="card-text"><strong>⏳ {{'end' | translate}}:</strong> {{ formatVietnamTime(task.endDateTask) }}</p>
            <p class="card-text"><strong>⏰ {{'reminder' | translate}}:</strong> {{ task.reminderTime }} minutes before
            </p>
            <p class="card-text">
              <strong>📌 {{'status' | translate}}:</strong>
              <span class="badge mx-2" [ngClass]="{'bg-success': task.status === 'Completed',
                                              'bg-warning': task.status === 'InProgress',
                                              'bg-danger': task.status === 'Pending',
                                              'bg-secondary': task.status === 'Cancelled'}">
                {{ task.status }}
              </span>
            </p>
          </div>

          <div class="card-footer d-flex justify-content-end align-items-center">
            <!-- Nút chỉnh sửa và xóa -->
            <div class="d-flex gap-1">
              <button class="btn btn-warning btn-sm" (click)="openModal(editTaskModal, task)">📝 {{'edit' |
                translate}}</button>
              <button class="btn btn-danger btn-sm" (click)="deleteTask(task.workTaskId)">❌ {{'delete' |
                translate}}</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal Update Task -->
<ng-template #editTaskModal>
  <div class="modal-header bg-primary text-white p-3">
    <h5 class="modal-title">✏️ {{'editTask' | translate}}</h5>
    <button type="button" class="btn-close" (click)="modalRef?.hide()"></button>
  </div>

  <div class="modal-body p-3">
    <form [formGroup]="editForm">
      <!-- Title -->
      <div class="mb-3">
        <label for="taskTitle" class="form-label fw-bold">📌 {{'title' | translate}}</label>
        <input id="taskTitle" formControlName="title" class="form-control">
        <div *ngIf="editForm.get('title')?.touched && editForm.get('title')?.errors" class="text-danger">
          <div *ngIf="editForm.get('title')?.errors?.['required']">
            Title is required.
          </div>
          <div *ngIf="editForm.get('title')?.errors?.['maxlength']">
            Title cannot exceed 50 characters.
          </div>
        </div>
      </div>

      <!-- Description -->
      <div class="mb-3">
        <label for="taskDescription" class="form-label fw-bold">📝 {{'description' | translate}}</label>
        <textarea id="taskDescription" formControlName="description" class="form-control" rows="3"></textarea>
        <div *ngIf="editForm.get('description')?.touched && editForm.get('description')?.errors" class="text-danger">
          <div *ngIf="editForm.get('description')?.errors?.['required']">
            Description is required.
          </div>
        </div>
      </div>

      <!-- Start Date -->
      <div class="mb-3">
        <label for="startDateTask" class="form-label fw-bold">📅 {{'start' | translate}}</label>
        <input id="startDateTask" type="date" formControlName="startDateTask" class="form-control">
        <div *ngIf="editForm.get('startDateTask')?.touched && editForm.get('startDateTask')?.errors"
          class="text-danger">
          <div *ngIf="editForm.get('startDateTask')?.errors?.['required']">
            Start date is required.
          </div>
        </div>
      </div>

      <!-- End Date -->
      <div class="mb-3">
        <label for="endDateTask" class="form-label fw-bold">⏳ {{'end' | translate}}</label>
        <input id="endDateTask" type="date" formControlName="endDateTask" class="form-control">
        <div *ngIf="editForm.get('endDateTask')?.touched && editForm.get('endDateTask')?.errors" class="text-danger">
          <div *ngIf="editForm.get('endDateTask')?.errors?.['required']">
            End date is required.
          </div>
        </div>
      </div>

      <!-- Status -->
      <div class="mb-3">
        <label for="taskStatus" class="form-label fw-bold">📌 {{'status' | translate}}</label>
        <select id="taskStatus" formControlName="status" class="form-select">
          <option value="" disabled selected>{{'selectStatus' | translate}}</option>
          <option value="Pending">🔴 {{'pending' | translate}}</option>
          <option value="InProgress">🟡 {{'inprogress' | translate}}</option>
          <option value="Completed">🟢 {{'completed' | translate}}</option>
          <option value="Cancelled">⚫ {{'cancelled' | translate}}</option>
        </select>
        <div *ngIf="editForm.get('status')?.touched && editForm.get('status')?.errors" class="text-danger">
          <div *ngIf="editForm.get('status')?.errors?.['required']">
            Status is required.
          </div>
        </div>
      </div>

      <!-- Reminder Time -->
      <div class="mb-3">
        <label for="reminderTime" class="form-label fw-bold">⏰ {{'reminder' | translate}}</label>
        <input id="reminderTime" type="number" formControlName="reminderTime" class="form-control" min="0">
        <div *ngIf="editForm.get('reminderTime')?.touched && editForm.get('reminderTime')?.errors" class="text-danger">
          <div *ngIf="editForm.get('reminderTime')?.errors?.['required']">
            Reminder time is required.
          </div>
          <div *ngIf="editForm.get('reminderTime')?.errors?.['min']">
            Reminder time must be a positive number.
          </div>
        </div>
      </div>
    </form>
  </div>

  <div class="modal-footer p-3">
    <button class="btn btn-secondary" (click)="modalRef?.hide()">❌ {{'close' | translate}}</button>
    <button class="btn btn-primary" (click)="updateTask()" [disabled]="editForm.invalid">💾 {{'save' |
      translate}}</button>
  </div>
</ng-template>