body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden; /* Ẩn scrollbar của body */
}

.app-root, .app-container {
  height: 100vh; /* Chiếm toàn màn hình */
  overflow-y: auto; /* Chỉ hiển thị scrollbar khi cần thiết */
}
